$background: #edece4;
$bege: #cbc6b9;
$bege-escuro: #988c77;
$cinza: #2a2426;
$verde: #1ab912;

$pt: 'PT Mono', monospace;
$aref: 'Aref Ruqaa', serif;

@function em($pixel, $context: 16) {
  @return $pixel / $context + em;
}

@mixin tipo-1($size) {
  font-family: $pt;
  @if $size == 18 {
    font-size: em(18);
    line-height: em(30, 18);
  }
}

@mixin tipo-2($size) {
  font-family: $aref;
  @if $size == 18 {
    font-size: em(18);
    line-height: em(30, 18);
  }
  @else if $size == 24 {
    font-size: em(24);
    line-height: em(30, 24);
  }
}

@mixin box-shadow($shadow...) {
  -webkit-box-shadow: $shadow;
  -moz-box-shadow: $shadow;
  box-shadow: $shadow;
}

